.categories {
    margin-top: 16px;
    padding: 24px;
    width: 440px;
    background-color: #fff;
  }
  .item {
    padding: 16px;
    border-radius: 8px;
    background-color: #f6f6fe;
  }
  .item:not(:last-child) {
    margin-bottom: 24px;
  }
  .category-title {
    margin-bottom: 16px;
    color: #2e2f42;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.33;
  }
  
  .category-list li {
    color: #2e2f42;
    font-size: 16px;
    font-weight: 400;
    border-radius: 4px;
    border: 1px solid #808080;
    padding: 16px 8px;
  }
  
  .category-list li:not(:last-child) {
    margin-bottom: 8px;
  }                       